*{
	margin: 0;
	padding: 0;
	
}

body{
	background-color: #F5F5F5;
}
.top{
	width: 100%;
	height: 27px;
	background: url(../images/top_bg.jpg) repeat-x;
}
.top_content{
	width: 1000px;
	margin:0 auto;
}
.top_content li{
	float: right;
	margin-right: 20px;
	line-height: 27px;
	list-style-image: url(../images/arrow.jpg);
}
.top_content li a{
    text-decoration: none;
	
}
.top_content li a:link,.top_content li a:visited{
	color: #8E8E8E;
	
}
.top_content li a:hover{
     color: red;	
	 
}
.warp{
	height: 90px;
	width: 1000px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.warp .left{
	height: 90px;
	width: 300px;
	float: left;
}
.warp .right{
	height: 50px;
	width: 350px;
	float: right;
	color: #CCCCCC;
	margin-top:30px ;
	font-size: 15px;
}

.right img{
	vertical-align: middle;
	margin-right:10px ;
}
.right span{
	color: red;
	font-size: 23px;
}
.nav ul li{
	float: left;
	list-style: none;
	line-height: 50px;
	margin-left: 30px;
}
.nav{
	width: 1000px;
	height: 50px;
	background-color: #8E8E8E;
	margin: 0 auto;
	border-radius: 4px;
}
.nav ul li a{
	text-decoration: none;
	font-size: 20px;
	color: white;
	font-family: "微软雅黑";
} 
.nav ul li a:hover{
	color: yellow;
}
.nav input{
	margin-top: 10px;
	margin-left: 70px;
	height: 23px;
	width: 150px;
	background: url(../images/search.jpg) no-repeat right white;
}
.ad{
	height: 310px;
	overflow: hidden;
	width: 1000px;
	margin: 5px auto;
	
}
.ad ul li{
	list-style: none;
}
.ad li img{
	width: 1000px;
	height: 310px;
	
}
.center{
	height: 250px;
	width: 1000px;
	margin: 0 auto;
	background-color:white;
}
.center_left{
	height: 250px;
	width: 340px;
	border: 1px solid #E8E8E8;
	float: left;
}
.center_center{
	height: 250px;
	width: 410px;
	border: 1px solid #E8E8E8;
	float: left;
	margin-left: 7px;
}
.center_right{
	height: 250px;
	width: 230px;
	border: 1px solid #E8E8E8;
	float: left;
	margin-left: 7px;
}
.center_left_one{
	width: 340px;
	height: 30px;
	border-bottom:1px solid #E8E8E8 ;
}
.center_left_one h3{
   float: left;
	margin-left: 10px;
	color: #A9A9A9;
	
}
.center_left_one h4{
	
	float: right;
	margin-right: 10px;
	color:#E8E8E8;
}
.center_left_two{
	width: 340px;
	height: 100px;
	border-top:1px solid #E8E8E8 ;
	
}
.center_left_two img{
	margin: 7px 7px 5px 3px;
	float: left;
}
.center_left_two .nei{
	float: left;
	margin-top: 10px;

}
 .center_left_two p{
	 font-size: 12px;
	 line-height: 20px;
 }
 .center_left_two h5 ,.center_left_two span{
	 color: red;
	 
 }
 .center_left_two a {
	 text-decoration: none;
 }
 .center_left_three ul li{
	 font-size: 12px;
	 list-style-image: url(../images/list.jpg);
	 border-bottom: 1px dotted #ccc;
	 line-height: 25px;
	 margin-left:15px ;
 }
 .center_left_three a{
	 text-decoration: none;
	 color: #000000;
 }
 .center_left_three ul{
	 margin-top: 10px;
 }
 .center_left_three span{
	 font-size: 12px;
	 color: #A9A9A9;
	 float: right;
 }
 .center_center_one{
 	width: 410px;
 	height: 30px;
 	border-bottom:1px solid #E8E8E8 ;
 }
 .center_center_one h3{
    float: left;
 	margin-left: 10px;
 	color: #A9A9A9;
 	
 }
 .center_center_one h4{
 	
 	float: right;
 	margin-right: 10px;
 	color:#E8E8E8;
 }
 .center_center_two{
 	width: 410px;
 	height: 140px;
 	border:1px solid #E8E8E8 ;
 	
 }
 .center_center_two img{
	 margin: 7px 7px 5px 3px;
	 float: left;
 }
	 
 .center_center_two h5{
	 color: red;
	 
	 margin-top: 5px;
 }
 .center_center_two p{
	 
	 font-size: 8px;
	 line-height: 20px;
	
 }
 .center_center_three ul li{
	 float: left;
	 list-style: none;
	 font-size: 12px;
	 line-height: 27px;
	 margin-left: 27px;
 }
 .center_center_three{
	 background: url(../images/product_type_bg.jpg) no-repeat;
	 width: 370px;
	 height: 27px;
	 margin: 20px auto;
 }
 .center_center_one{
 	width: 230px;
 	height: 30px;
 	border-bottom:1px solid #E8E8E8 ;
 }
 .center_right_one h3{
    float: left;
 	margin-left: 10px;
 	color: #A9A9A9;
 	
 }
 .center_right_one h4{
 	
 	float: right;
 	margin-right: 10px;
 	color:#E8E8E8;
 }
 .footer{
	 width: 100%;
	 height: 200px;
	 background-color: #E8E8E8;
 }
 .footer_center{
	 height: 200px;
	 width: 1000px;
	 margin: 0 auto;
	
 }
 .footer_center >ul >li{
	 float: left;
	 list-style: none;
	 margin-top: 20px;
	 color: #999;
	 line-height: 30px;
	 width: 200px;
	 text-align: center;
	 background: url(../images/line.png) no-repeat;
	 font-size: 18px;
 }
 .footer_center ul li ul li{
	 list-style: none;
	 font-size: 14px;
 }